#input1 {
    height:40px;
    width:40px;
}

#input2 {
    height:40px;
    width:40px;
}

#output1 {
    height:40px;
    width:40px;
    border:1px solid black;
    margin-top:20px;
    line-height: 40px;
    text-align:center;
}

#output2 {
    height:40px;
    width:40px;
    border:1px solid black;
    margin-top:20px;
    line-height: 40px;
    text-align:center;
}